body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 30vh;
    width: 30%;
}
input{
    width: 30%;
}

form > label {
    font-weight: bold;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.index-list{
    list-style-type: none;
    padding: 0;
}

.index-item{
    border-bottom: 1px solid grey;
    padding: 10px 0;
}
.delete-link{
    margin-left: 10px
}
.delete-link:hover{
    color: red;
    text-decoration: underline;
}
.form-element{
    margin-bottom: 10px;
}
.form-submit{
    background-color: #4693FC;
    color: white;
    border: none;
    border-radius: 5px;
}
.form-submit:hover{
    background-color: #3578E5;
}